---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<html>
  <body
    class="bg-gray-900 text-white flex items-center justify-center h-screen"
  >
    <h1 class="text-4xl font-bold text-blue-400">Dashboard Setup Working 🚀</h1>
  </body>
</html>
